* {
       margin: 0;
       padding: 0;
   }
header,
footer {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100px;
    background-color: #ffd000;
    color: black;
}
h1,
h4 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center; 
}

h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    background-color: black;
    color:white;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    
    margin-left: auto;
    margin-right: auto;
}
ul {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 40px;
    font-size: 20px;
}
p {
    text-align: center;
    font-size: 30px;
  }
.card {
    background-color: gray(247, 152, 75, 0.973);
    width: 80%;
    margin: 40px auto;
    /border: 5px solid rgb(128, 128, 128);
    /box-shadow: 5px 10px hsl(56, 88%, 48%);
}
main {
    /background-color: hsl(0, 1%, 30%);
}